:root {
  --lightest-color: #f1d4d4;
  --light-color: #ddb6c6;
  --dark-color: #ac8daf;
  --darkest-color: #484c7f;
}

body {
    background-color: var(--lightest-color);
    font-family: 'IBM Plex Sans', sans-serif;
    color: var(--darkest-color);
}

#dog-list {
    margin-top: 4vw;
    margin-right: 1%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(25vw, auto);
    grid-gap: 15px;
}

#logo {
  font-weight: bold;
  position: relative;
  margin: 0;
  padding-left: 10%;
  margin-top: 8px;
  margin-right: 75px;
  margin-left: 0;
  color: var(--darkest-color);
  font-family: 'Patua One', cursive;
  font-size: 2.15vw;
}

.navigation {
  margin-right: 6rem;
}

.nav-bar-list {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0;
  overflow: hidden;
  background-color: var(--lightest-color);
  position: fixed;
  top: 0;
  width: 100%;
  font-size: 1.15vw;
  height: 4vw;
}

.nav-bar-list h1, .nav-bar-list h3:hover {
  cursor: pointer;
  color: #113f67;
}

.dog-img {
  width: 100%;
  height: 100%;
  border: 5px var(--dark-color) solid;
  margin: 5px;
}

.dog-img:hover {
  cursor: pointer;
}

.modal-img {
  width: 60vw;
  height: auto;
  border: 5px var(--dark-color) solid;
  float: left;
}

.modal {
    display: none; 
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    text-align: center;

  }
  
  .modal-content {
    background-color: var(--lightest-color);
    margin: 1.15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 85vw;
    height: 90vh;
    text-align: center;
    overflow: auto;
    display: flex;
    flex-wrap: flex;
  }

  #modal-right {
    float: right;
    margin-left: 2vw;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  #comments-ul {
    list-style-type: none;
    max-width: 20vw;
    margin-top: 2vw;
    text-align: left;
  }

  #comments-ul li {
    padding: 0.25vw;
    font-size: 1rem;
  }

  .comment-form input, textarea, .rating-input {
    width: 15vw;
    margin: 2px;
    border-radius: 1%;
    border: none;
    font-family: 'IBM Plex Sans', sans-serif;
    border: 2px var(--dark-color) solid;
  }

  #like-button, .submit-button {
    font-family: 'IBM Plex Sans', sans-serif !important;
    background-color: var(--dark-color);
    color: var(--lightest-color);
    height: 1rem;
    width: 10vw;
    text-decoration: none;
    font-size: 0.9rem;
  }

  #like-button, .submit-button:hover {
    cursor: pointer;
  }

  .submit-button {
    width: 10vw;
    border-radius: 1%;
    border: none;
    border: 2px var(--dark-color) solid;
    height: 2vw;
  }

  #like-button {
    background: transparent;
    font-size: 40px;
    height: 60px;
    width: 60px;
    border: none;
  }
  
#like-button:focus{
    outline: 3px dashed var(--dark-color);
  }

 #heart {
  display: inline-block;
} 

/* "Top" button to scroll */
#myBtn { 
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: var(--dark-color);
  color: var(--lightest-color);
  cursor: pointer;
  padding: 15px;
  font-size: 18px;
}

#myBtn:hover {
  color: var(--dark-color);
  background-color: var(var(--lightest-color))
}

#popular-dogs, #top-dogs {
  padding-left: 6%;
}

#commented-dogs {
  margin-right: 4rem;
}