:root {
  --lightest-color: #f4f7f7;
  --light-color: #aacfd0;
  --dark-color: #79a8a9;
  --darkest-color: #1f4e5f;
}

body {
    background-color: var(--lightest-color);
    font-family: 'IBM Plex Sans', sans-serif;
    color: var(--darkest-color);
}

.show-loading-div {
  display: block;
}

.hide-loading-div {
  display: none;
}

.hide-main-div {
  display: none;
}

.show-main-div {
  display: block;
}

#heart-icon-loading {
  width: 4vw;
}
#heart-icon {
  width: 2vw;
}

#heart-icon-like {
    width: 3.5vw;
    text-align: center;
    margin-top: 0.5vw;
}

#loading-div {
  text-align: center;
  position: fixed;
  top: 25%;
  left: 38%;
}

#loading-p {
  font-size: 2vw;
}

#logo-loading {
  font-weight: bold;
  color: var(--darkest-color);
  font-family: 'Patua One', cursive;
  font-size: 5vw;
  width: 100%;
  padding-left: 5%;
  margin-bottom: 0;
}

#heart-loading {
  font-size: 4vw;
}


/* loading circle stylings begin */
.lds-default {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 40px;
  /* width: 80px;
  height: 80px; */
}
.lds-default div {
  position: absolute;
  width: 3px;
  height: 3px;
  /* width: 6px;
  height: 6px; */
  background: var(--darkest-color);
  border-radius: 50%;
  animation: lds-default 1.2s linear infinite;
}
.lds-default div:nth-child(1) {
  animation-delay: 0s;
  top: 18.5px;
  left: 33px;
  /* top: 37px;
  left: 66px; */
}
.lds-default div:nth-child(2) {
  animation-delay: -0.1s;
  top: 11px;
  left: 31px;
  /* top: 22px;
  left: 62px; */
}
.lds-default div:nth-child(3) {
  animation-delay: -0.2s;
  top: 5.5px;
  left: 26px;
  /* top: 11px;
  left: 52px; */
}
.lds-default div:nth-child(4) {
  animation-delay: -0.3s;
  top: 3.5px;
  left: 18.5px;
  /* top: 7px;
  left: 37px; */
}
.lds-default div:nth-child(5) {
  animation-delay: -0.4s;
  top: 5.5px;
  left: 11px;
  /* top: 11px;
  left: 22px; */
}
.lds-default div:nth-child(6) {
  animation-delay: -0.5s;
  top: 11px;
  left: 5.5px;
  /* top: 22px;
  left: 11px; */
}
.lds-default div:nth-child(7) {
  animation-delay: -0.6s;
  top: 18.5px;
  left: 3.5px;
  /* top: 37px;
  left: 7px; */
}
.lds-default div:nth-child(8) {
  animation-delay: -0.7s;
  top: 26px;
  left: 5.5px;
  /* top: 52px;
  left: 11px; */
}
.lds-default div:nth-child(9) {
  animation-delay: -0.8s;
  top: 31px;
  left: 11px;
  /* top: 62px;
  left: 22px; */
}
.lds-default div:nth-child(10) {
  animation-delay: -0.9s;
  top: 33px;
  left: 18.5px;
  /* top: 66px;
  left: 37px; */
}
.lds-default div:nth-child(11) {
  animation-delay: -1s;
  top: 31px;
  left: 26px;
  /* top: 62px;
  left: 52px; */
}
.lds-default div:nth-child(12) {
  animation-delay: -1.1s;
  top: 26px;
  left: 31px;
  /* top: 52px;
  left: 62px; */
}
@keyframes lds-default {
  0%, 20%, 80%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
}

/* loading circle stylings end */

.navigation {
  margin-right: 6rem;
}

#nav-bar-list {
  list-style-type: none;
  display: flex;
  margin: 0;
  overflow: hidden;
  background-color: var(--lightest-color);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 4vw;
}

#nav-bar-list h1:hover, #nav-bar-list h3:hover {
  cursor: pointer;
  color: var(--dark-color);
}



#logo-main {
  font-weight: bold;
  position: fixed;
  left: 0;
  margin: 0;
  padding-left: 7vw;
  margin-top: 8px;
  margin-right: 75px;
  margin-left: 0;
  color: var(--darkest-color);
  font-family: 'Patua One', cursive;
  font-size: 2.15vw;
}

#nav-links {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: fixed;
  left: 30vw;
  gap: 6vw;
  font-size: 1.4vw;
  top: 0;
}

#popular-dogs, #top-dogs, #commented-dogs {
  margin-top: 1vw;
}

#top-dogs {
  padding-left: 2vw;
}

#commented-dogs {
  padding-left: 4vw;
}

#hamburger-menu {
  display: none;
}

#buttonload {
  font-family: 'IBM Plex Sans', sans-serif;
  color: var(--lightest-color);
  background-color: var(--darkest-color);
  border: none;
  padding: 12px 16px;
  font-size: 2vw;
  margin: auto;
  text-align: center;
  position: fixed;
  left: 45%;
  top: 45%;
}

#dog-list {
  margin-top: 4vw;
  margin-right: 1%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(25vw, auto);
  grid-gap: 1vw;
}

.dog-img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 5px var(--dark-color) solid;
  margin: 5px;
}

.dog-img:hover {
  cursor: pointer;
}

.modal {
  display: none; 
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  text-align: center;
}
.modal-content {
  background-color: var(--lightest-color);
  margin: 1.15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 85vw;
  height: 90vh;
  text-align: center;
  overflow: auto;
  display: flex;
  flex-wrap: flex;
  border: 5px var(--dark-color) solid;
}

.modal-img {
  width: 60vw;
  height: auto;
  object-fit: contain;
  float: left;
  filter: drop-shadow(0px 0px 2px rgba(0,0,0,.3))
          drop-shadow(0px 0px 20px rgba(0,0,0,.3));
}

  #modal-right {
    float: right;
    margin-left: 2vw;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  #comments-ul {
    list-style-type: none;
    max-width: 20vw;
    margin-top: 2vw;
    text-align: left;
  }

  #comments-ul li {
    padding: 0.25vw;
    font-size: 1rem;
  }

  .comment-form input, textarea, .rating-input {
    width: 15vw;
    margin: 2px;
    border-radius: 1%;
    border: none;
    font-family: 'IBM Plex Sans', sans-serif;
    border: 2px var(--dark-color) solid;
  }

  #like-button, .submit-button {
    font-family: 'IBM Plex Sans', sans-serif !important;
    background-color: var(--dark-color);
    color: var(--lightest-color);
    height: 1rem;
    width: 10vw;
    text-decoration: none;
    font-size: 0.9rem;
  }

  #like-button, .submit-button:hover {
    cursor: pointer;
  }

  .submit-button {
    width: 10vw;
    border-radius: 1%;
    border: none;
    border: 2px var(--dark-color) solid;
    height: 2vw;
  }

  #like-button {
    background: transparent;
    font-size: 40px;
    height: 60px;
    width: 60px;
    border: none;
  }
  
#like-button:focus{
    outline: 3px dashed var(--dark-color);
  }

 #heart {
  display: inline-block;
} 

/* "Top" button to scroll */
#scroll-button { 
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: var(--dark-color);
  color: var(--lightest-color);
  cursor: pointer;
  padding: 15px;
  font-size: 18px;
}

#scroll-button:hover {
  background-color: var(--lightest-color);
  color: var(--dark-color);
}

/* For small screens and mobile phones */
@media only screen and (max-width: 768px) {

  #loading-div {
    text-align: center;
    position: fixed;
    top: 25%;
    left: 25%;
  }

  #loading-p {
    font-size: 5vw;
  }
  
  #logo-loading {
    font-weight: bold;
    color: var(--darkest-color);
    font-family: 'Patua One', cursive;
    font-size: 10vw;
    width: 100%;
    padding-left: 5%;
    margin-bottom: 0;
  }
  
  #heart-loading {
    font-size: 8vw;
  }

  .navigation {
    overflow: hidden;
    background-color: var(--lightest-color);
    position: relative;
    margin: 0;
  }

  #nav-bar-list {
    font-size: 5vw;
    height: 10vw;
  }

  #logo-main {
    padding-left: 10%;
    font-size: 5vw;
    position: fixed;
    display: block;
  }

  #nav-links {
    display: none;
    text-align: right;
    top: 7%;
    right: 0;
    left: 60vw;
    margin: 0;
    padding: 3% 3% 3% 0;
    background-color: var(--lightest-color);
  }

  #nav-links li {
    font-size: 1rem;
  }

  #commented-dogs {
    right: 0;
    margin-right: 0;
    padding-right: 0;
    text-align: right;
  }

  #hamburger-menu {
    background-color: var(--darkest-color);
    display: block;
    position: fixed;
    right: 0;
    top: 0;
    color: var(--lightest-color);
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  

  #hamburger-menu:hover {
    background-color: var(--light-color);
    color: var(--dark-color);
  }

  #dog-list {
    margin-top: 10vw;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: minmax(75vw, auto);
    grid-gap: 3vw;
  }

  .modal-content {
    flex-direction: column;
  }

  .modal-img {
    width: 100%;
    clear: both;
  }

  #modal-right {
    clear: both;
  }

  #modal-responsive-bottom-left {
    width: 30vw;
    float: left;
    font-size: 1rem;
  }

  #like-button {
    font-size: 2rem;
    padding: 0;
    margin: 0;
  }

  .submit-button {
    font-family: 'IBM Plex Sans', sans-serif !important;
    background-color: var(--dark-color);
    color: var(--lightest-color);
    height: 2rem;
    width: 9rem;
    text-decoration: none;
    font-size: 0.9rem;
  }

  .comment-form input, textarea, .rating-input {
    width: 10rem;
  }

  .modal-rating, .modal-likes {
    font-size: 1rem;
  }

  #comments-ul {
    max-width: 40vw;
    float: right;
    margin-right: 3vw;
  }

  #comments-ul li {
    font-size: 0.9rem;
  }
}

/* Force grid after resize from smaller screen to bigger*/
@media only screen and (min-width: 769px) {
  #nav-links {
    display: grid !important;
  }
}